{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <div class="centralize">
        <h1>Set your timer</h1>
            <form method="post">
            <div class="mb-3">
                <label for=""minutes" class="form-label">Focus Time</label>
                <input class="form-group" name="minutes" type="number" value="25">
            </div>
            <div class="mb-3">
                <label for="break" class="form-label">Break Time</label>
                <input name="interval" type="number" value="5" class="form-group">
            </div>
            <div>
                <input class="btn btn-primary w-100" type="submit" value="Start">
            </div>
            </form>
    </div>
{% endblock %}
